form {
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 195px;
     color: white;
     padding: 0px 80px 10px 60px;
     border-radius: 50px;
}

h1 {
     text-align: center;
     padding-top: 50px;
     margin-bottom: 50px;
}

input {
     margin-left: auto;
     margin-right: auto;
     width: 305px;
     height: 30px;
     border-radius: 50px;
     margin-bottom: 25px;
     padding-left: 10px;
     padding-right: 10px;
}

label {
     font-size: large;
     font-weight: bold;
}

#checkbox {
     width: 10px;
     height: 20px;
}

p {
     margin-top: 0px;
     font-size: large;
     font-weight: bold;
}


div {
     margin-bottom: 20px;
     text-align: center;
}

P > a {
     color: white;
     font-size: large;
     font-weight: bold;
}

.forgotten-div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.account {
     margin-top: 10px;
}

a {
     color: black;
}
