form {
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 195px;
     background-color: black;
     color: white;
     padding: 0px 70px 10px 50px;
     border-radius: 50px;
     border: 5px solid wheat;
}

input {
     margin-left: auto;
     margin-right: auto;
     width: 305px;
     height: 30px;
     border-radius: 10px;
     margin-bottom: 25px;
     padding-left: 10px;
     padding-right: 10px;
}

label {
     font-size: large;
     font-weight: bold;
}

#checkbox {
     width: 10px;
     height: 20px;
}

p {
}


div {
     margin-bottom: 24px;
     text-align: center;
}
button {
     font-family: inherit;
     background-color: white;
     
}

a {
     color: black;
     font-size: large;
     font-weight: bold;
}