form {
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 200px;
     background-color: black;
     color: white;
     padding: 10px 10px 10px 10px;
}

h1 {
     text-align: center;
}

input {
     margin-left: auto;
     margin-right: auto;
     width: 305px;
     height: 30px;
     border-radius: 10px;
}

label {

}

#checkbox {
     width: 10px;
     height: 20px;
}