/*Form*/
form {
     background-color: rgb(8, 8, 8);
     width: 390px;
     margin-left: auto;
     margin-right: auto;
     padding: 50px 10px 45px 60px;
     border-radius: 50px;
     margin-top: 100px;
}



label {
     font-size: large;
     font-weight: bold;
     color: whitesmoke;
     padding-left: 10px;
}

h1 {
     color: white;
     text-align: center;
     margin-bottom: 39px;
     margin-right: 40px;
     margin-top: 1px;
}

div {
     text-align: center;
     color: white;
}

#reminder {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     margin-right: 40px;
     font-weight: bold;
     cursor: pointer;
}

#checkbox {
     width: 10px;
     height: 15px;
}

#checkbox-rm {
     margin-top: 25px;
}

button {
     background-color: white;
     height: 30px;
     width: 150px;
     border-radius: 10px;
     color: black;
     font-weight: bold;
     font-size: 15px;
     padding: 15px 10px 30px 10px;   
     cursor: pointer; 
     font-family: inherit;
}

p > a {
     color: white;
     
}


#link-color {
     color: black;
}
