/*Form*/
form {
     background-color: rgb(8, 8, 8);
     width: 390px;
     margin-left: auto;
     margin-right: auto;
     padding: 60px 10px 50px 60px;
     border: 5px solid wheat;
     border-radius: 20px;
     margin-top: 100px;
}

input {
     margin-left: auto;
     margin-right: auto;
     width: 305px;
     height: 30px;
     margin-bottom: 20px;
     margin-top: 6px;
     border-radius: 100px;
     border: 5px white solid;
     padding: 5px 10px;
}

label {
     font-size: large;
     font-weight: bold;
     color: whitesmoke;
     padding-left: 10px;
}

h1 {
     color: white;
     text-align: center;
     margin-bottom: 29px;
     margin-right: 40px;
     margin-top: 1px;
}

div {
     text-align: center;
     color: white;
}

button {
     background-color: rgb(255, 255, 255);
     color: black;
     font-weight: bold;
     font-size: 15px;
     width: 190px;
     height: 35px;
     margin-right: 40px;
     border-radius: 10px;
     

}

#reminder {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     margin-right: 40px;
     font-weight: bold;
}

#checkbox {
     width: 15px;
}

a {
   color: white;  
}

/*Hover*/
input:hover {
     background-color: black;
     color: white;
     transition: 0.5s;
     font-weight: bolder;
     font-size: 15px;
}

button:hover {
     background-color: black;
     color: white;
     cursor: pointer;
     width: 199px;
     height: 40px;
     transition: 0.5s;
     border: 2px solid white;
}


form:hover {
     background-color: rgb(20, 20, 20);
     border: 5px solid rgb(144, 108, 42);
}

a:hover {
     color: red;
}
